@import "./Components/bootstrap_reboot";
@import "./Components/breakpoints";
@import "./Components/variables";
@import "./Components/mixins";
@import "./Components/globals";
@import "../Components/CatalogsMenu/CatalogsMenu";

.ContainerProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 0;
}

.Catalog-Loader {
  width: 20vw;
}

.CatalogCardsContainer {
  width: 90%;
}

.CategoryTitleContainer {
  margin-bottom: 5vw;
  &__Title {
    text-transform: uppercase;
    font-weight: 500;
    color: $color-variacion5;
  }
  &__Description {
    font-style: italic;
    font-size: 3.5vw;
    font-weight: 500;
  }
}

.Card {
  display: flex;
  margin: 8vw 0;
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  padding: 5vw 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  &__Image {
    width: 90%;
    margin: 0 0 4vw;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
  &__Info {
    width: 90%;
    margin: 0;
    &--Name {
      font-size: 3.6vw;
      text-transform: uppercase;
      margin: 0 0 2vw;
      font-weight: 500;
      color: $color-variacion5;
    }
    &--Description {
      font-size: 3vw;
      margin-bottom: 6vw;
    }
    &--StockInfo {
      border-radius: 2vw;
      padding: 4vw;
      background-color: #f2f2f2;
    }
  }
}

.StockInfo-Title {
  font-size: 3.5vw;
  font-weight: 500;
  color: $color-variacion5;
}

.StockInfo-Measures {
  font-size: 3.6vw;
}

.CardContainer2 {
  border: 2px solid red;
}

.Card2 {
  display: flex;
  margin: 8vw 0;
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  padding: 5vw 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  &__Image {
    width: 90%;
    margin: 0 0 4vw;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
  &__Info {
    width: 90%;
    margin: 0;
    &--Name {
      font-size: 3.6vw;
      text-transform: uppercase;
      margin: 0 0 2vw;
      font-weight: 500;
      color: $color-variacion5;
    }
    &--Description {
      font-size: 3vw;
      margin-bottom: 6vw;
    }
    &--StockInfo {
      border-radius: 2vw;
      padding: 4vw;
      background-color: #f2f2f2;
    }
  }
}

.StockInfo2-Title {
  font-size: 3.5vw;
  font-weight: 500;
  color: $color-variacion5;
}

.StockInfo2-Measures {
  font-size: 3.6vw;
}

@media screen and (min-width: 1200px) {
  .Catalogs-Page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .CardContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .CardContainer2 {
    width: 60%;
  }

  .CatalogCardsContainer {
    display: flex;
    margin-top: -4.2vw;
  }

  .ContainerProducts {
    width: 60%;
  }

  .CategoryTitleContainer {
    margin-bottom: 1vw;
    width: 100%;
    &__Title {
      margin: 0 0 0.5vw;
    }
    &__Description {
      font-size: 1vw;
      font-weight: 400;
    }
  }

  .Card {
    width: 28%;
    margin: 2.5vw 2vw 5vw 0;
    border-radius: 0.4vw;
    padding: 0.7vw 0;
    height: auto;
    &__Image {
      margin: 0 0 1vw;
    }
    &__Info {
      width: 90%;
      margin: 0;
      &--Name {
        font-size: 1vw;
        margin: 0 0 0.5vw;
      }
      &--Description {
        font-size: 0.8vw;
        margin-bottom: 0.5vw;
      }
      &--StockInfo {
        border-radius: 0.4vw;
        font-size: 1vw;
        padding: 1vw;
        background-color: #f2f2f2;
      }
    }
  }

  .StockInfo-Title {
    font-size: 0.7vw;
  }

  .StockInfo-Measures {
    font-size: 0.7vw;
  }

  .Card2 {
    display: flex;
    margin: 2.5vw 0 5vw 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vw;
    padding: 1vw 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    &__Image {
      width: 60%;
      margin: 0;
    }
    &__Info {
      width: 25%;
      margin: 0;
      &--Name {
        display: none;
      }
      &--Description {
        font-size: 1vw;
        margin: 1vw 0;
      }
      &--StockInfo {
        border-radius: 0.4vw;
        padding: 1vw;
      }
    }
  }

  .StockInfo2-Title {
    font-size: 0.7vw;
    font-weight: 500;
    color: $color-variacion5;
  }

  .StockInfo2-Measures {
    font-size: 0.7vw;
  }
}
