@import "./Components/bootstrap_reboot";
@import "./Components/breakpoints";
@import "./Components/variables";
@import "./Components/mixins";
@import "./Components/globals";
@import "../Components/CatalogsMenu/CatalogsMenu";

.ContainerProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 0;
}

.Catalog-Loader {
  width: 20vw;
}

.CatalogCardsContainer {
  width: 90%;
}

.CategoryTitleContainer {
  margin-bottom: 5vw;
  &__Title {
    text-transform: uppercase;
    font-weight: 500;
    color: $color-variacion5;
  }
  &__Description {
    font-style: italic;
    font-size: 3.5vw;
    font-weight: 500;
  }
}

.Card {
  display: flex;
  margin: 8vw 0;
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  padding: 5vw 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  &__Image {
    width: 90%;
    margin: 0 0 4vw;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
  &__Info {
    width: 90%;
    margin: 0;
    &--Name {
      font-size: 3.6vw;
      text-transform: uppercase;
      margin: 0 0 2vw;
      font-weight: 500;
      color: $color-variacion5;
    }
    &--Description {
      font-size: 3.5vw;
      margin-bottom: 6vw;
    }
    &--StockInfo {
      border-radius: 2vw;
      padding: 4vw;
      background-color: #f2f2f2;
    }
  }
}

.StockInfo-Title {
  font-size: 3.5vw;
  font-weight: 500;
  color: $color-variacion5;
}

.StockInfo-Measures {
  font-size: 3.6vw;
}

.CardContainer2 {
  border: 2px solid red;
}

.Card2 {
  display: flex;
  margin: 8vw 0;
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  padding: 5vw 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  &__Image {
    width: 90%;
    margin: 0 0 4vw;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
  &__Info {
    width: 90%;
    margin: 0;
    &--Name {
      font-size: 3.6vw;
      text-transform: uppercase;
      margin: 0 0 2vw;
      font-weight: 500;
      color: $color-variacion5;
    }
    &--Description {
      font-size: 3vw;
      margin-bottom: 6vw;
    }
    &--StockInfo {
      border-radius: 2vw;
      padding: 4vw;
      background-color: #f2f2f2;
    }
  }
}

.StockInfo2-Title {
  font-size: 3.5vw;
  font-weight: 500;
  color: $color-variacion5;
}

.StockInfo2-Measures {
  font-size: 3.6vw;
}

.UpContainerCatalog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30vw;
  border-radius: 50%;
  right: 5.7vw;
  width: 14vw;
  height: 14vw;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  &__Link {
    width: 14vw;
    height: 14vw;
    display: flex;
    border-radius: 50vw;
    &--Image {
      width: 100%;
      height: 100%;
      background-image: url(../utils/images/FAQsUp.svg);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: 1200px) {
  .Catalogs-Page {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
  }

  .ContainerProducts {
    width: 60%;
    padding: 0;
    margin-top: -1vw;
  }

  .CatalogCardsContainer {
    display: flex;
  }

  .CardContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .CardContainer2 {
    width: 60%;
  }

  .CategoryTitleContainer {
    margin-bottom: 1vw;
    width: 100%;
    &__Title {
      margin: 0 0 0.2vw;
      font-size: 1.3vw;
    }
    &__Description {
      font-size: 1vw;
      font-weight: 400;
      width: 44.5vw;
    }
  }

  .Card {
    width: 17vw;
    margin: 1vw 2vw 3vw 0;
    border-radius: 0.4vw;
    padding: 1vw 0;
    height: auto;
    &__DesktopImage {
      width: 15vw;
      height: 12.5vw;
      border-radius: 0.4vw;
      margin-bottom: 1vw;
      background-size: 155%;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    }
    &__Image {
      margin: 0 0 1vw;
    }
    &__Info {
      width: 90%;
      margin: 0;
      &--Name {
        font-size: 1vw;
        margin: 0 0 0.5vw;
      }
      &--Description {
        margin-bottom: 0.5vw;
        & p {
          margin-bottom: 0.5vw;
          font-size: 1vw;
          line-height: 120%;
        }
      }
      &--StockInfo {
        border-radius: 0.4vw;
        font-size: 1vw;
        padding: 1vw;
        background-color: #f2f2f2;
      }
    }
  }

  .MobileCardImage {
    display: none;
  }

  .ResiduosNegra {
    background-image: url(../utils/images/catalogitem-ResiduosNegra.png);
  }
  .ResiduosPato {
    background-image: url(../utils/images/catalogitem-residuospatologicos.png);
  }

  .StockInfo-Title {
    font-size: 1vw;
    line-height: 120%;
  }

  .StockInfo-Measures {
    font-size: 1vw;
  }

  .Card2 {
    display: flex;
    margin: 1vw 0 3vw 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5vw;
    padding: 1vw 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    &__Image {
      width: 55%;
      margin: 0;
      border-radius: 0.6vw;
      overflow: hidden;
    }
    &__Info {
      width: 30%;
      margin: 0;
      &--Name {
        display: none;
      }
      &--Description {
        font-size: 1vw;
        margin: 1vw 0;
      }
      &--StockInfo {
        border-radius: 0.4vw;
        padding: 1vw;
      }
    }
  }

  .StockInfo2-Title {
    font-size: 1vw;
    line-height: 120%;
    font-weight: 500;
    color: $color-variacion5;
  }

  .StockInfo2-Measures {
    font-size: 1vw;
  }

  .UpContainerCatalog {
    bottom: 10vw;
    right: 5.7vw;
    width: 3vw;
    height: 3vw;
    &__Link {
      width: 3vw;
      height: 3vw;
    }
  }
}
