@import "./Components/bootstrap_reboot";
@import "./Components/breakpoints";
@import "./Components/variables";
@import "./Components/mixins";
@import "./Components/globals";

.Pages-Title-Container {
  height: 35vw;

  width: 100%;
  top: 26vw;
  position: absolute;
  overflow: hidden;
  z-index: 10;

  background-color: $color-variacion5;
  &__Subcontainer {
    position: absolute;
    margin-top: 5vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--Title {
      text-align: center;
      width: 100%;
      font-weight: 500;
      color: $color-claro;
    }
    &--Line {
      display: flex;
      width: 1000vw;
      height: 1000vw;
      margin-top: 27.5vw;
      margin-left: -450vw;
      border-radius: 100%;
      border: 10vw solid $color-claro;
      background-color: $color-claro;
    }
  }
}
@media screen and (min-width: 1200px) {
  .Pages-Title-Container {
    height: 10vw;
    bottom: 0vw;
    z-index: 1;
    &__Line {
      border: 1vw solid #abc6cb;
      background-color: $color-claro;
    }
  }
}
