.Hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 200vw;
  background-color: $color-variacion1;
  background-image: url(../../utils/images/hero-mobile-bg.webp);
  background-size: 114%;
  background-repeat: no-repeat;
  background-position: center top;
}

.Hero-Overlay {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: rgb(27, 118, 122);
  background: linear-gradient(
    90deg,
    rgba(9, 89, 102, 0.7) 26%,
    rgba(9, 89, 102, 0.5) 70%,
    rgba(9, 89, 102, 0.35) 90%
  );
}

.Hero-Media-Container {
  display: none;
}

.Hero-Container {
  width: 85%;
  height: 88vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 52vw;
  z-index: 2;
  &__Text {
    width: 100%;
    height: 60vw;
    font-weight: 500;
    font-size: 6.1vw;
    line-height: 150%;
    color: $color-claro;
    @include basic-flex;
  }
  &__Description {
    display: none;
  }
  &__ButtonContainer {
    width: 46vw;
    height: 12vw;
    @include basic-flex;
    &--Button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include button;
    }
  }
}

.Hero-Text-Desktop {
  display: none;
}

@media screen and (min-width: 1100px) {
  .Hero {
    height: 49vw;
    background-size: 100%;
    background-image: url(../../utils/images/hero-desktop-bg.webp);
  }

  .Hero-Overlay {
    background: rgb(27, 118, 122);
    background: linear-gradient(
      90deg,
      rgba(9, 89, 102, 0.7) 0%,
      rgba(9, 89, 102, 0.5) 50%,
      rgba(9, 89, 102, 0.35) 80%
    );
  }

  .Hero-Media-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 2.5vw;
    height: 5.5vw;
    position: absolute;
    right: 4vw;
    top: 10vw;
    opacity: 0;
    will-change: opacity;
    animation: loadAnimation 0.5s ease-in-out 1.4s 1 normal forwards;
    &__Link {
      width: 2.3vw;
      height: 2.3vw;
      display: flex;
      border-radius: 50vw;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      &--Image {
        background-color: #fff;
        width: 100%;
        border-radius: 100vw;
        background-size: 95%;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        will-change: background-image background-color;
        &:hover {
          background-color: $color-variacion3;
        }
      }
    }
  }

  .Hero-Ig {
    background-image: url(../../utils/images/hero-media-ig.svg);
    &:hover {
      background-image: url(../../utils/images/hero-media-iga.svg);
    }
  }
  .Hero-Fb {
    background-image: url(../../utils/images/hero-media-fb.svg);
    &:hover {
      background-image: url(../../utils/images/hero-media-fba.svg);
    }
  }

  .Hero-Container {
    width: 70%;
    height: 20vw;
    margin: 17vw auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    &__Text {
      width: 66%;
      font-size: 2.5vw;
      height: auto;
      line-height: 120%;
      justify-content: flex-start;
      opacity: 0;
      will-change: opacity;
      animation: loadAnimation 0.5s ease-in-out 0.5s 1 normal forwards;
    }
    &__Description {
      display: flex;
      width: 48%;
      margin: 2vw 0 4vw;
      font-size: 1.35vw;
      font-weight: 300;
      line-height: 110%;
      opacity: 0;
      will-change: opacity;
      animation: loadAnimation 0.5s ease-in-out 0.7s 1 normal forwards;
      color: $color-claro;
    }
    &__ButtonContainer {
      width: 13vw;
      height: 3vw;
      opacity: 0;
      will-change: opacity;
      animation: loadAnimation 0.5s ease-in-out 0.9s 1 normal forwards;
      &--Button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .Hero-Text-Mobile {
    display: none;
  }

  .Hero-Text-Desktop {
    display: flex;
  }
}
