.Hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 200vw;
  background-color: $color-variacion1;
  background-image: url(../../utils/images/hero-mobile-bg.png);
  background-size: 114%;
  background-repeat: no-repeat;
  background-position: center top;
}

.Hero-Overlay {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  // background-color: rgba($color: $color-variacion4, $alpha: 0.7);
  background: rgb(27, 118, 122);
  background: linear-gradient(
    90deg,
    rgba(9, 89, 102, 0.7) 26%,
    rgba(9, 89, 102, 0.5) 70%,
    rgba(9, 89, 102, 0.35) 90%
  );
}

.Hero-Media-Container {
  display: none;
}

.Hero-Container {
  width: 85%;
  height: 88vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 52vw;
  z-index: 2;
  &__Text {
    width: 100%;
    height: 60vw;
    font-weight: 500;
    font-size: 6.24vw;
    line-height: 150%;
    color: $color-claro;
    @include basic-flex;
  }
  &__Description {
    display: none;
  }
  &__ButtonContainer {
    width: 46vw;
    height: 12vw;
    @include basic-flex;
    &--Button {
      width: 100%;
      @include button;
    }
  }
}

.Hero-Text-Desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .Hero {
    height: 49vw;
    background-size: 100%;
    background-image: url(../../utils/images/hero-desktop-bg.png);
  }

  .Hero-Overlay {
    background: rgb(27, 118, 122);
    background: linear-gradient(
      90deg,
      rgba(9, 89, 102, 0.7) 0%,
      rgba(9, 89, 102, 0.5) 50%,
      rgba(9, 89, 102, 0.35) 80%
    );
  }

  .Hero-Media-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 2.5vw;
    height: 5vw;
    position: absolute;
    right: 4vw;
    top: 10vw;
    &__Image {
      width: 2vw;
      height: 2vw;
      border-radius: 50vw;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .Hero-Media-Fb {
    background-image: url(../../utils/images/hero-media-fb.svg);
  }
  .Hero-Media-Ig {
    background-image: url(../../utils/images/hero-media-ig.svg);
  }
  .Hero-Container {
    width: 70%;
    height: 20vw;
    margin: 17vw auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;

    &__Text {
      width: 66%;
      font-size: 2.5vw;
      height: auto;
      line-height: 120%;
      justify-content: flex-start;
    }
    &__Description {
      display: flex;
      width: 48%;
      margin: 2vw 0;
      font-size: 1.35vw;
      font-weight: 300;
      line-height: 110%;

      color: $color-claro;
    }
    &__ButtonContainer {
      width: 13vw;
      height: 3vw;
      &--Button {
        width: 100%;
      }
    }
  }

  .Hero-Text-Mobile {
    display: none;
  }

  .Hero-Text-Desktop {
    display: flex;
  }
}
