.Hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 200vw;
  background-color: $color-variacion1;
  background-image: url(../../utils/images/hero-mobile-bg.png);
  background-size: 114%;
  background-repeat: no-repeat;
  background-position: center top;
}

.Hero-Overlay {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  // background-color: rgba($color: $color-variacion4, $alpha: 0.7);
  background: rgb(27, 118, 122);
  background: linear-gradient(
    90deg,
    rgba(9, 89, 102, 0.7) 26%,
    rgba(9, 89, 102, 0.5) 70%,
    rgba(9, 89, 102, 0.35) 90%
  );
}

.Hero-Container {
  width: 85%;
  height: 88vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 52vw;
  z-index: 2;
  &__Text {
    width: 100%;
    height: 60vw;
    font-weight: 500;
    font-size: 6.24vw;
    line-height: 150%;
    color: $color-claro;
    @include basic-flex;
  }
  &__ButtonContainer {
    width: 46vw;
    height: 12vw;
    @include basic-flex;
    &--Button {
      width: 100%;
      @include button;
    }
  }
}
