.NavBar {
  height: 26vw;
  top: 0;
  z-index: 3;
  position: absolute;
  background-color: rgba($color-claro, $alpha: 0.85);
}

.NavBar-Container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  &__Logo {
    width: 65%;
  }
  &__MenuButton {
    width: 10vw;
    height: 10vw;
    @include basic-flex;
    &--Image {
      width: 80%;
    }
  }
}

.Menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
  padding: 10vh 0;
  margin-left: -100%;
  transition: 1s;
  background-color: $color-variacion5;
}

.Menu-Close {
  width: 10vw;
  height: 10vw;
  position: absolute;
  right: 5vw;
  top: 8vw;
  &__Image {
    width: 100%;
  }
}

.Logo {
  width: 80%;
  margin: 0 auto;
  &__Image {
    width: 80%;
  }
}

.Menu-Container {
  width: 98%;
  height: 84vh;
  padding: 0 0 10vw 0;
  margin: 0 auto;
  overflow: auto;
  position: relative;

  &__Links {
    width: 82.8%;
    margin: 10vw auto 6vw;
    display: flex;
    flex-direction: column;
    height: 120vw;
    &--Options {
      margin: 4vw 0;
      font-size: 6vw;
      color: $color-claro;
    }
    &--Contact {
      width: 90%;
      margin: 4vw 0;
      font-weight: 500;
      font-size: 6vw;
      border-radius: 1.4vw;
      text-align: center;
      color: $color-claro;
      border: 0.5vw solid $color-claro;
    }
  }
  &__Social {
    height: 20vw;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    &--Image {
      width: 14vw;
      height: 14vw;
      margin-right: 6vw;
      border-radius: 100vw;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $color-variacion2;
    }
  }
}

.fb {
  background-image: url(../../utils/images/navbar-fb.svg);
  background-size: 27%;
}

.ig {
  background-image: url(../../utils/images/navbar-ig.svg);
  background-size: 60%;
}
