.NavBar {
  width: 100%;
  height: 26vw;
  top: 0;
  z-index: 3;
  opacity: 0;
  will-change: opacity;
  position: absolute;
  animation: loadAnimation 0.5s ease-in-out 0s 1 normal forwards;
  background-color: rgba($color-claro, $alpha: 0.85);
}

.NavBar-Container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__Logo {
    width: 65%;
    &--Image {
      width: 100%;
    }
  }
  &__MenuButton {
    width: 10vw;
    height: 10vw;
    @include basic-flex;
    &--Image {
      width: 80%;
    }
  }
}

.Menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
  padding: 9vw 0 0;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: 0.5s;
  background-color: $color-variacion5;
}

.Menu-Close {
  width: 10vw;
  height: 10vw;
  right: 10vw;
  top: 8.5vw;
  position: absolute;
  &__Image {
    width: 100%;
  }
}

.Logo {
  width: 80%;
  margin: 0 10%;
  &__Image {
    width: 60%;
  }
}

.Menu-Container {
  width: 98%;
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  &__Links {
    width: 82.8%;
    margin: 6vw auto 4vw;
    display: flex;
    flex-direction: column;
    &--Options {
      margin: 2vw 0;
      font-size: 5vw;
      text-decoration: none;
      transition: $animation-transition;
      color: $color-claro;
      &:active {
        color: $color-variacion6;
      }
    }
    &--Contact {
      width: 75%;
      margin: 4vw 0;
      font-weight: 400;
      font-size: 5vw;
      border-radius: 1.4vw;
      text-align: center;
      text-decoration: none;
      color: $color-claro;
      border: 0.5vw solid $color-claro;
    }
  }
  &__Social {
    width: 80%;
    height: 14vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    &--Image {
      width: 12vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12vw;
      margin-right: 6vw;
      border-radius: 100vw;
      background-color: $color-variacion2;
    }
  }
}

.NavBar-fb {
  display: flex;
  border-radius: 100vw;

  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../utils/images/navbar-fb.svg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}

.NavBar-ig {
  display: flex;
  border-radius: 100vw;

  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../utils/images/navbar-ig.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.isActive {
  opacity: 1;
  pointer-events: all;
}

// TABLET
@media screen and (min-width: 768px) {
  .NavBar {
    height: 14vw;
  }

  .NavBar-Container {
    &__Logo {
      width: 50%;
    }
    &__MenuButton {
      width: 8vw;
      height: 8vw;
    }
  }

  .Menu {
    padding: 6vw 0 0;
    opacity: 1;
    pointer-events: all;
  }

  .Logo {
    width: 50%;
    margin: 0 10%;
    &__Image {
      width: 40%;
    }
  }
  .Menu-Close {
    width: 8vw;
    height: 8vw;
    right: 9vw;
    top: 5vw;
  }

  .Menu-Container {
    &__Links {
      margin: 6vw auto 2vw;
      &--Options {
        margin: 1vw 0;
        font-size: 4vw;
        &:active {
          color: $color-variacion6;
        }
      }
      &--Contact {
        width: 70%;
        margin: 1vw 0;
        font-size: 4vw;
      }
    }
    &__Social {
      margin: 5vw auto;
      height: 12vw;
      &--Image {
        width: 8vw;
        height: 8vw;
        margin-right: 4vw;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 1100px) {
  .NavBar {
    width: 100%;
    height: 7vw;
  }

  .NavBar-Container {
    width: 90%;
    &__Logo {
      width: 18%;
    }
    &__MenuButton {
      display: none;
    }
  }

  .Menu {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    left: 30%;
    width: 65%;
    height: auto;
    background-color: transparent;
  }

  .Menu-Close {
    display: none;
  }

  .Logo {
    display: none;
  }

  .Menu-Container {
    width: 100%;
    height: 7vw;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    overflow: visible;
    &__Links {
      margin: 0;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 5vw;
      &--Options {
        font-size: 1.1vw;
        margin: 0;
        font-weight: 400;
        border-radius: 0.5vw;
        padding: 0.3vw 0.5vw;
        text-decoration: none;
        will-change: color background-color;
        transition: $animation-transition;
        color: $color-variacion5;
        &:hover {
          color: $color-claro;
          background-color: $color-variacion5;
        }
        &:active {
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
        }
      }
      &--Contact {
        width: auto;
        padding: 0.3vw 0.5vw;
        border-radius: 0.5vw;
        margin: 0;
        font-weight: 600;
        font-size: 1vw;
        text-decoration: none;
        will-change: color background-color;
        transition: $animation-transition;
        border: 0.1vw solid $color-variacion5;
        color: $color-variacion5;
        &:hover {
          color: $color-claro;
          background-color: $color-variacion5;
        }
      }
    }
    &__Social {
      display: none;
    }
  }
  .active {
    color: $color-claro;
    background-color: $color-variacion5;
  }
}
