.NavBar {
  height: 26vw;
  top: 0;
  z-index: 3;
  position: absolute;
  background-color: rgba($color-claro, $alpha: 0.85);
}

.NavBar-Container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  &__Logo {
    width: 65%;
  }
  &__MenuButton {
    width: 10vw;
    height: 10vw;
    @include basic-flex;
    &--Image {
      width: 80%;
    }
  }
}
