.ContactsIndex {
  width: 100%;
  padding: 5vw 0;
}
.ContactsIndex-IndexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5vw auto;
  padding: 4vw 0;
  width: 90%;
  border-radius: 2vw;
  background-color: #f2f2f2;
  &__Index {
    width: 90%;
    &--txt {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      & p {
        font-size: 5vw;
        font-weight: 500;
        text-align: center;
        color: $color-variacion5;
      }
    }
  }
}
.Line {
  width: 100%;
  margin: 3vw 0;
  border-bottom: 1.5px solid $color-variacion5;
}
@media screen and (min-width: 1199px) {
  .ContactsIndex {
    border: 2px solid red;
    width: 25%;
    padding: 0vw 0 0;
  }
  .ContactsIndex-IndexContainer {
    margin: 1vw auto;
    padding: 4vw 0;
    &__Index {
      &--txt {
        justify-content: flex-start;
        margin: 1vw 1vw;
        & p {
          font-size: 1.2vw;
          font-weight: 300;
          text-align: start;
        }
      }
    }
  }
  .Line {
    display: none;
  }
}
