.ContactsIndex {
  width: 100%;
  padding: 5vw 0;
}
.ContactsIndex-IndexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5vw auto;
  padding: 4vw 0;
  width: 90%;
  border-radius: 2vw;
  background-color: #f2f2f2;
  &__Index {
    width: 90%;
    &--Button {
      width: 100%;
      & p {
        font-size: 2.8vh;
        color: $color-variacion5;
      }
    }
    &--txt {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      & p {
        font-size: 4.95vw;
        font-weight: 500;
        text-align: center;
        color: $color-variacion5;
      }
    }
  }
}
.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #f2f2f2;
  height: 60vh;
  overflow: auto;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.ContactsIndex-IndexContainer__Index--Button.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  outline: none;
}
.Line {
  width: 100%;
  margin: 3vw 0;
  border-bottom: 1.5px solid $color-variacion5;
}
.DesktopMenu {
  display: none;
}
@media screen and (min-width: 1199px) {
  .ContactsIndex {
    width: 23%;
    padding: 0;
    height: 38vw;
    position: sticky;
    top: 3vw;
  }
  .ContactsIndex-IndexContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0.6vw;
    &__Index {
      &--txt {
        font-weight: 500;
        justify-content: flex-start;

        margin: 0.9vw 0.3vw 0.9vw 0.3vw;
        will-change: background-color;
        cursor: pointer;
        padding-left: 0.4vw;
        transition: $animation-transition;
        &:hover {
          border-radius: 0.3vw;
          margin-right: 1vw;
          background-color: $color-variacion5;
        }
        &:hover p {
          will-change: color;

          color: $color-claro;
        }
        & p {
          font-size: 1.2vw;
          font-weight: 500;
          text-align: start;
          transition: $animation-transition;
        }
      }
    }
  }
  .Line {
    display: none;
  }
  .DesktopMenu {
    display: flex;
  }
  .MobileMenu {
    display: none;
  }
}
