.Services {
  padding: 0 0 10vw;
  background-image: url(../../utils/images/services-bg.png);
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: left center;
}

.Services-Container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__Title {
    color: $color-variacion5;
    @include section-title;
  }
}

.Services-Subcontainer {
  &__Box {
    width: 80vw;
    height: 70vw;
    border-radius: 4vw;
    margin: 6vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-variacion3;
    &--Image {
      width: 30vw;
      height: 14vw;
      margin-top: -4vw;
      border-radius: 2.5vw;
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $color-claro;
    }
    &--Arrow {
      width: 4vw;
      height: 4vw;
      margin: 4vw 0;
      background-image: url(../../utils/images/services-arrowa.svg);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--Title {
      width: 80%;
      text-align: center;
      font-size: 3.9vw;
      font-weight: 400;
      color: $color-claro;
    }
    &--Text {
      width: 80%;
      font-size: 4vw;
      line-height: 120%;
      font-weight: 300;
      text-align: center;
      opacity: 0.8;

      color: $color-claro;
    }
  }
}

.Services-Box-Title-Desktop {
  display: none;
}

.Services-Image1 {
  background-image: url(../../utils/images/services-icon1.svg);
}
.Services-Image2 {
  background-image: url(../../utils/images/services-icon2.svg);
}
.Services-Image3 {
  background-image: url(../../utils/images/services-icon3.svg);
}

@media screen and (min-width: 1200px) {
  .Services {
    background-size: 100%;
    padding: 6vw 0;
  }

  .Services-Container {
    width: 65%;
  }

  .Services-Subcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__Box {
      width: 20vw;
      height: 23vw;
      border-radius: 1.2vw;
      will-change: background-color;
      transition: $animation-transition;
      &--Image {
        width: 13vw;
        border-radius: 0.4vw;
        height: 6vw;
        margin: -2vw 0 0;
        background-size: 35%;
        will-change: background-image;
        transition: $animation-transition;
      }
      &--Arrow {
        width: 1vw;
        height: 1vw;
        margin: 1vw 0;
        will-change: background-image;

        transition: $animation-transition;
      }
      &--Title {
        font-size: 1.25vw;
        width: 80%;
        margin: 0 0 3vw;
      }
      &--Text {
        font-size: 1vw;
      }
      &:hover {
        background-color: $color-variacion5;
        & .Services-Arrow {
          background-image: url(../../utils/images/services-arrow.svg);
        }
        & .Services-Image1 {
          background-image: url(../../utils/images/services-icon1a.svg);
        }
        & .Services-Image2 {
          background-image: url(../../utils/images/services-icon2a.svg);
        }
        & .Services-Image3 {
          background-image: url(../../utils/images/services-icon3a.svg);
        }
      }
    }
  }

  .Services-Box-Title-Mobile {
    display: none;
  }
  .Services-Box-Title-Desktop {
    display: block;
  }
}
