.Footer {
  padding: 10vw 0;
  background-color: $color-primario;
}
.Footer-Container {
  width: 80%;
  margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD

  &__Title {
    padding: 8vw 0 0;

=======
=======
>>>>>>> 6124e44fb7af8c0731e89630b83cc1e671c33ee1
  color: $color-claro;
}
.Footer-Logo {
  width: 60vw;
  margin: 0 0 4vw;
}
.Footer-Title {
  font-size: 4.5vw;
  font-weight: 600;
  margin: 4vw 0;
  width: 100%;
}
.Footer-Contact {
  &__Data {
    display: flex;
    align-items: center;
    margin: 4vw 0;
<<<<<<< HEAD
>>>>>>> 6124e44fb7af8c0731e89630b83cc1e671c33ee1
=======
>>>>>>> 6124e44fb7af8c0731e89630b83cc1e671c33ee1
    &--Image {
      width: 7vw;
      height: 7vw;
      border-radius: 100vw;
      margin-right: 3vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-color: $color-variacion2;
    }
<<<<<<< HEAD
<<<<<<< HEAD
  }
  &__Contactanos {
    padding: 6vw 0 0;

    &--Contacto {
      width: 100%;
      &---txt {
        &----txt {
          color: white;
          font-size: 4vw;
          font-weight: 600;
        }
      }
      &---Telefono {
        display: flex;
        flex-direction: row;
        padding: 4vw 0 0;
        &----Image {
          width: 6vw;
        }
        &----txt {
          color: white;
          font-size: 3.5vw;
          margin-left: 2vw;
        }
      }
      &---Whatsapp {
        height: 11vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        &----Image {
          width: 6vw;
        }
        // &----txt {
        //   display: flex;
        //   flex-direction: column;
        //   border: 2px solid red;

        //   margin-left: 1vw;
        &-----txt1 {
          color: white;
          margin-left: -33vw;
          font-size: 3.5vw;
        }

        // }
      }
      &---Mail {
        display: flex;
        flex-direction: row;
        padding: 4vw 0 6vw;
        &----Image {
          width: 6vw;
        }
        &----txt {
          color: white;
          font-size: 3.5vw;
          margin-left: 1vw;
        }
      }
=======
    &--txt {
      font-size: 3.5vw;
      line-height: 120%;
>>>>>>> 6124e44fb7af8c0731e89630b83cc1e671c33ee1
=======
    &--txt {
      font-size: 3.5vw;
      line-height: 120%;
>>>>>>> 6124e44fb7af8c0731e89630b83cc1e671c33ee1
    }
  }
}
.Footer-Redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__Facebook {
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 3vw;
    margin-top: 3vw;
    margin-right: 5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(../../utils/images/FooterFacebook.svg);
    background-color: $color-variacion2;
  }
  &__Instagram {
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 100vw;
    margin-top: 3vw;
    margin-right: 5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(../../utils/images/FooterInstagram.svg);
    background-color: $color-variacion2;
<<<<<<< HEAD
  }
  &__Linkedin {
    width: 9.5vw;
    height: 9.5vw;
    margin-top: 3vw;
    margin-right: 5vw;
    border-radius: 100%;
    border: $border3;
  }
}
.Footer-Maps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  &__Image {
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 100%;
    border: $border3;
  }
  &__txt {
    font-size: 3.3vw;
    margin-left: 3vw;
  }
=======
  }
  &__Linkedin {
    width: 9.5vw;
    height: 9.5vw;
    margin-top: 3vw;
    margin-right: 5vw;
    border-radius: 100%;
    border: $border3;
  }
}
.Footer-Maps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  &__Image {
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 100%;
    border: $border3;
  }
  &__txt {
    font-size: 3.3vw;
    margin-left: 3vw;
  }
>>>>>>> 6124e44fb7af8c0731e89630b83cc1e671c33ee1
  &__Map {
    margin: 5vw 0;
    border: 0;
  }
}
.Green-Line {
  width: 50%;
  margin: 8vw 0 4vw;
  border-bottom: 2px solid $color-variacion2;
}
.Phone {
  background-image: url(../../utils/images/FooterTelefono.svg);
}
.Whatsapp {
  background-image: url(../../utils/images/FooterWhatsapp.svg);
}
.Mail {
  background-image: url(../../utils/images/FooterMail.svg);
}
