* {
  font-family: $Fuente1;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.Orange-Line {
  display: flex;
  width: 8vw;
  height: 1.5vw;
  margin: 3vw 0;
  border-radius: 50vw;
  background-color: $color-variacion6;
  @include media(desktop-s) {
    height: 0.5vw;
    width: 3vw;
    margin: 1vw 0;
  }
}

.Pages-Title-Container {
  height: 33vw;
  width: 100%;
  top: 26vw;
  margin-bottom: 25vw;
  position: relative;
  overflow: hidden;

  background-color: $color-variacion5;
  &__Subcontainer {
    position: absolute;
    margin-top: 5vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--Title {
      text-align: center;
      width: 100%;
      font-weight: 500;
      color: $color-claro;
    }
    &--Line {
      display: flex;
      width: 1000vw;
      height: 1000vw;
      margin-top: 27.5vw;
      margin-left: -450vw;
      border-radius: 100%;
      border: 10vw solid $color-claro;
      background-color: $color-claro;
    }
  }
}

@keyframes loadAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .Pages-Title-Container {
    height: 16vw;
    bottom: 0vw;
    z-index: 1;
    top: 7vw;
    margin-bottom: 15vw;
    &__Subcontainer {
      margin-top: 3vw;
      &--Title {
        font-size: 2vw;
      }
      &--Line {
        border: none;
        margin-top: 13vw;
        background-color: $color-claro;
      }
    }
  }
}
