@mixin basic-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin basic-image {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin button {
  border-radius: 50vw;
  height: 12vw;
  font-size: 5.3vw;
  border: none;
  outline: none;
  font-weight: 500;
  font-family: $Fuente1;
  color: $color-claro;
  background-color: $color-variacion6;
  @include media(desktop-s) {
    height: 2.8vw;
    font-size: 1.2vw;
    will-change: color;
    cursor: pointer;
    border: 0.3vw solid $color-variacion6;
    transition: $animation-transition;
  }
  &:hover {
    @include media(desktop-s) {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    }
  }
}

@mixin section-title {
  font-size: 5.3vw;
  font-weight: 500;
  margin: 0vw 0 4vw;
  @include media(desktop-s) {
    font-size: 1.6vw;
    margin: 0 0 4vw;
  }
}

@mixin section-description {
  font-size: 4.1vw;
  font-weight: 400;
  text-align: center;
  line-height: 120%;
  opacity: 0.9;
  @include media(desktop-s) {
    font-size: 1.5vw;
    font-weight: 300;
    margin: 0 0 4vw;
  }
}
