$color-primario: #000000;
$color-secundario: #1a1a1a;
$color-terciario: #4d4d4d;
$color-claro: #ffffff;
$color-variacion1: #58a5a3;
$color-variacion2: #489b9b;
$color-variacion3: #388c8a;
$color-variacion4: #1b767a;
$color-variacion5: #095966;
$color-variacion6: #e03738;

$light-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.2);

$Fuente1: "Rubik", sans-serif;

$border1: 2px solid red;
$border2: 2px solid aqua;
$border3: 2px dashed red;
