.CompromiseContent {
  padding-bottom: 10vw;
}

.Compromise-TitleContainer {
  margin: 5vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__Title {
    margin-bottom: 3vw;
    font-size: 4.3vw;
    font-weight: 600;
    color: $color-variacion5;
  }
  &__Description {
    width: 75%;
    font-size: 3.8vw;
    text-align: center;
    opacity: 0.8;
    line-height: 120%;
  }
}

.Compromise-Section {
}

.Compromise-Section-Container {
  width: 100%;
  margin: 0 auto;
  padding: 14vw 0;

  &__TitleContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-weight: 500;
    font-size: 5.4vw;
    color: $color-variacion5;
    &--Image {
      width: 12vw;
      margin-right: 4vw;
    }
  }
  &__GreenLine {
    display: flex;
    width: 13vw;
    height: 1.5vw;
    margin: 6vw 0 6vw 10%;
    border-radius: 50vw;
    background-color: #6fd5bd;
  }
  &__DesktopSubtitle {
    display: none;
  }
  &__Content {
    line-height: 120%;
    width: 80%;
    font-size: 3.5vw;
    margin: 1vw auto;

    &--Image {
      width: 3.5vw;
      margin-right: 2vw;
    }
    &--Span {
      color: #6fd5bd;
      margin-right: 1vw;
    }
  }
  &__Image {
    width: 90%;
    margin: 0 5% 15vw;
  }
}

.Compromise-Section2 {
  color: $color-claro;
  background-color: $color-variacion5;
}

.Compromise-SectionTitle2 {
  color: $color-claro;
}

@media screen and (min-width: 1200px) {
  .CompromiseContent {
    padding: 0;
  }

  .Compromise-TitleContainer {
    margin: 4vw 0 0;

    &__Title {
      margin-bottom: 1vw;
      font-size: 1.8vw;
    }
    &__Description {
      font-size: 1.3vw;
      width: 43%;
      text-align: start;
    }
  }

  .Compromise-Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 6vw 0;
    &__Image {
      width: 45%;
      margin: 15vw 5% 0;
    }
  }

  .Compromise-Image1 {
    margin: 0 -5% 0 0;
  }
  .Compromise-Image2 {
    margin: 0 0 0 -5%;
  }
  .Compromise-Section2 {
    flex-flow: row-reverse;
  }

  .Compromise-Section-Container {
    width: 35%;
    height: 23vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    &__TitleContainer {
      width: 100%;
      margin: 0;
      font-size: 1.8vw;

      &--Image {
        width: 3.5vw;
        margin-right: 1.8vw;
      }
    }
    &__GreenLine {
      width: 4.5vw;
      height: 0.5vw;
      margin: 1.3vw 0 1.5vw;
    }
    &__DesktopSubtitle {
      display: flex;
      font-style: italic;
      font-weight: 500;
      margin-bottom: 1vw;
      color: $color-terciario;
    }
    &__Content {
      line-height: 130%;

      width: 100%;
      font-size: 1.08vw;
      margin: 0vw 0;
      opacity: 0.8;
      &--Image {
        width: 1vw;
        margin-right: 1vw;
      }
      &--Span {
        color: #6fd5bd;
        margin-right: 0.5vw;
      }
    }
  }
  .Compromise-Section-Container1 {
    margin-left: 15%;
  }
  .Compromise-Section-Container2 {
    margin-right: 15%;
  }
}
