.CompromiseContent {
  padding-bottom: 10vw;
}

.Compromise-TitleContainer {
  margin: 5vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__Title {
    margin-bottom: 3vw;
    font-size: 6vw;
    font-weight: 600;
    color: $color-variacion5;
  }
  &__Description {
    width: 80%;
    font-size: 4.5vw;
    text-align: center;
    opacity: 0.6;
    line-height: 130%;
  }
}

.Compromise-Section-Container {
  width: 100%;
  margin: 0 auto;
  padding: 14vw 0 0;

  &__TitleContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-weight: 500;
    font-size: 5.4vw;
    color: $color-variacion5;
    &--Image {
      width: 12vw;
      margin-right: 4vw;
    }
  }
  &__GreenLine {
    display: flex;
    width: 13vw;
    height: 1.5vw;
    margin: 6vw 0 6vw 10%;
    border-radius: 50vw;
    background-color: #6fd5bd;
  }
  &__DesktopSubtitle {
    display: none;
  }
  &__Content {
    line-height: 130%;
    width: 80%;
    font-size: 3.7vw;
    margin: 1vw auto;

    &--Image {
      width: 3.5vw;
      margin-right: 2vw;
    }
    &--Span {
      color: #6fd5bd;
      margin-right: 1vw;
    }
  }
  &__ImageContainer {
    width: 90%;
    margin: 5vw 5% 15vw;
    &--Image {
      width: 100%;
    }
  }
}

.Compromise-Section2 {
  color: $color-claro;
  background-color: $color-variacion5;
}

.Compromise-SectionTitle2 {
  color: $color-claro;
}

@media screen and (min-width: 1100px) {
  .CompromiseContent {
    padding: 0;
  }

  .Compromise-TitleContainer {
    margin: 4vw 0 0;

    &__Title {
      margin-bottom: 1vw;
      font-size: 1.8vw;
    }
    &__Description {
      font-size: 1.3vw;
      width: 43%;
    }
  }

  .Compromise-Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 6vw 0;
    &__Image {
      width: 45%;
      margin: 15vw 5% 0;
    }
  }

  .Compromise-Image1 {
    margin: 0 -5% 0 0;
  }
  .Compromise-Image2 {
    margin: 0 0 0 -5%;
  }
  .Compromise-Section2 {
    flex-flow: row-reverse;
  }

  .Compromise-Section-Container {
    width: 35%;
    height: 23vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    &__TitleContainer {
      width: 100%;
      margin: 0;
      font-size: 1.9vw;

      &--Image {
        width: 4vw;
        height: 4vw;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50vw;
        margin-right: 1.8vw;
        will-change: background-color background-image;
        transition: $animation-transition;
      }
    }
    &__GreenLine {
      width: 4.5vw;
      height: 0.5vw;
      margin: 1.3vw 0 1.5vw;
    }
    &__DesktopSubtitle {
      display: flex;
      font-size: 1vw;
      font-weight: 500;
      margin-bottom: 1vw;
      color: $color-terciario;
    }
    &__Content {
      line-height: 130%;
      width: 100%;
      font-size: 1.08vw;
      margin: 0vw 0 0.8vw;
      &--Image {
        width: 1.2vw;
        margin-right: 0.5vw;
      }
      &--Span {
        color: #6fd5bd;
        margin-right: 0.5vw;
      }
    }
    &__ImageContainer {
      width: 45%;
      border-radius: 2vw;
      overflow: hidden;
      &:hover img {
        transform: scale(1.1);
      }
      &--Image {
        will-change: transform;
        transition: $animation-transition;
      }
    }
  }
  .Compromise-Section-Container1 {
    margin-left: 15%;
  }
  .Compromise-Section-Container2 {
    margin-right: 15%;
  }

  .Compromise-Section-Icon1 {
    background-image: url(../../utils/images/compromise-icon1.svg);
    &:hover {
      background-image: url(../../utils/images/compromise-icon1a.svg);
      background-color: $color-variacion4;
    }
  }

  .Compromise-Section-Icon2 {
    background-image: url(../../utils/images/compromise-icon2.svg);
    &:hover {
      background-image: url(../../utils/images/compromise-icon2a.svg);
      background-color: $color-variacion4;
    }
  }
}
