.Environment {
  padding: 10vw 0 6vw;
}

.Environment-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__Title {
    text-align: center;
    width: 70vw;
    color: $color-variacion5;
    @include section-title;
  }
  &__Description {
    width: 85vw;
    margin: 0 0 4vw;
    @include section-description;
  }
  &__Button {
    width: 85vw;
    height: 26vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5vw 0;
    padding: 1vw 6vw;
    border-radius: 6vw;
    box-shadow: $light-shadow;
    &--Image {
      width: 20vw;
      height: 20vw;
      border-radius: 100vw;
      margin-right: 4.5vw;
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--Title {
      width: 47vw;
      font-weight: 500;
      font-size: 4vw;
      line-height: 110%;
      color: $color-variacion5;
    }
    &--VerMas {
      width: 47vw;
      font-size: 3.6vw;
      font-weight: 500;
      color: $color-variacion1;
    }
  }
}

.Environment-Icon1 {
  background-image: url(../../utils/images/environment-icon1.svg);
}
.Environment-Icon2 {
  background-image: url(../../utils/images/environment-icon2.svg);
}
.Environment-Icon3 {
  background-image: url(../../utils/images/environment-icon3.svg);
}

.Environment-Button-Text-Desktop {
  display: none;
}

.Environment-Container__DesktopButton {
  display: none;
}

@media screen and (min-width: 1200px) {
  .Environment {
    padding: 6vw 0;
    position: relative;
  }

  #Environment-Line {
    margin-left: auto;
    margin-right: auto;
  }

  .Environment-Container {
    width: 65%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__Title {
      width: 34%;
      margin-left: 33%;
      margin-right: 33%;
    }
    &__Description {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
    &__Button {
      width: 20vw;
      height: 18vw;
      border-radius: 0;
      border-top-left-radius: 2vw;
      border-bottom-right-radius: 2vw;
      margin: 1vw 0 4vw;
      z-index: 2;
      background-color: $color-claro;
      padding: 0;
      justify-content: flex-start;
      align-items: center;
      transition: 0.3s ease-in-out;
      will-change: transform background-color scale color;
      &--Image {
        width: 7vw;
        height: 7vw;
        margin: 1.5vw 0 1vw;
        transition: 0.1s ease-in-out;
        will-change: background-image;
      }
      &--Title {
        font-size: 1.45079vw;
        width: 80%;
        text-align: center;
        transition: 0.5s ease-in-out;
        will-change: color;
      }
      &--VerMas {
        display: none;
      }
      &:hover {
        transform: scale(1.1);

        background-color: $color-variacion5;
        color: $color-claro;
      }
      &:hover .Environment-Container__Button--Image {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
          saturate(0%) hue-rotate(177deg) brightness(104%) contrast(101%);
      }
      &:hover .Environment-Container__Button--Title {
        color: $color-claro;
      }
    }
  }
  .Environment-Button-Text-Mobile {
    display: none;
  }
  .Environment-Button-Text-Desktop {
    display: flex;
  }

  .Environment-FinalLineContainer {
    height: 32vw;
    z-index: 1;
    width: 100%;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0.34;
    background-color: $color-variacion5;
    &__Line {
      display: flex;
      width: 500vw;
      height: 500vw;
      bottom: 25vw;
      position: absolute;
      margin-left: -200vw;
      border-radius: 100%;
      background-color: $color-claro;
      border: 1vw solid $color-variacion5;
    }
  }

  .Environment-Container__DesktopButton {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    &--Button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13vw;
      @include button;
    }
  }
}
