.Contact {
  padding: 2vw 0 10vw;
}

.Contact-Image {
  display: none;
}

.Contact-Container {
  width: 90%;
  margin: 0 auto;
  &__Title {
    font-size: 6vw;
    font-weight: 500;
    margin-top: 8vw;
    color: $color-variacion5;
  }
  &__Text {
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.9;
  }
  &__Link {
    width: 90%;
    text-decoration: none;
    margin: 4vw 0;
    border-radius: 5vw;
    height: 12vw;
    font-size: 4.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-weight: 500;
    font-family: $Fuente1;
    color: $color-claro;
    background-color: $color-variacion6;
  }
  &__Form {
    display: flex;
    flex-direction: column;

    &--Input {
      width: 100%;
      margin: 1.5vw 0;
      border-radius: 1.5vw;
      outline: none;
      font-size: 3.8vw;
      letter-spacing: 1px;
      padding: 1.8vw;
      border: 0.4vw solid #b3b3b3;
      color: $color-variacion5;
      &::placeholder {
        color: #b3b3b3;
        font-weight: 300;
      }
    }
    &--TextArea {
      width: 100%;
      margin: 1.5vw 0;
      border-radius: 1.5vw;
      outline: none;
      font-size: 3.8vw;
      letter-spacing: 1px;
      padding: 1.8vw;
      resize: none;
      height: 24vw;
      border: 0.4vw solid #b3b3b3;
      color: $color-variacion5;
      &::placeholder {
        color: #b3b3b3;
        font-weight: 300;
      }
    }
    &--Submit {
      width: 50%;
      margin: 2.5vw 0 0 auto;
      @include button;
    }
  }
}

.contact-response {
  width: 50%;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-12vw);
  color: $color-variacion6;
}

.contact-response-text {
  font-size: 4vw;
  text-align: center;
}

.loader {
  width: 10vw;
  margin: 0;
}

// TABLET
@media screen and (min-width: 768px) {
  .Contact {
    padding: 2vw 0;
  }

  .Contact-Container {
    width: 75%;
    &__Title {
      font-size: 4vw;
      margin-top: 2vw;
    }
    &__Text {
      font-size: 3vw;
    }
    &__Link {
      margin: 3vw 0;
      border-radius: 10vw;
      height: 8vw;
      font-size: 3vw;
    }
    &__Form {
      &--Input {
        font-size: 2vw;
        padding: 1.2vw;
        margin: 1vw 0;
      }
      &--TextArea {
        font-size: 2vw;
        padding: 1.2vw;
        margin: 1vw 0;

        height: 18vw;
      }
      &--Submit {
        width: 40%;
        margin: 2vw 0 0 auto;
        @include button;
      }
    }
  }

  .contact-response {
    width: 58%;
    height: 8vw;
    transform: translateY(-8vw);
  }

  .contact-response-text {
    font-size: 2vw;
  }

  .loader {
    width: 7vw;
  }
}

// DESKTOP
@media screen and (min-width: 1100px) {
  .Contact {
    width: 100%;
    padding: 12vw 0;
    display: flex;
    align-items: center;
  }

  .Contact-Image {
    display: flex;
    width: 50%;
    padding-top: 1vw;
  }

  .Contact-Container {
    width: 30%;
    height: 36vw;
    margin: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    &__Title {
      font-size: 2vw;
      margin: 0;
    }
    &__Text {
      width: 85%;
      font-size: 1.24vw;
      font-weight: 300;
      margin: 1vw 0 1.5vw;
    }
    &__Link {
      margin: 0 0 1vw;
      width: 65%;
      border-radius: 5vw;
      padding: 0.5vw 0;
      font-size: 1vw;
      cursor: pointer;
      will-change: box-shadow color background-color;
      transition: $animation-transition;
      &:hover {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        color: $color-claro;
        background-color: $color-variacion5;
      }
    }
    &__Form {
      &--Input {
        font-size: 0.8vw;
        margin: 0.5vw 0;
        padding: 0.8vw;
        border-radius: 0.3vw;
        border: 0.1vw solid #b3b3b3;
      }
      &--TextArea {
        font-size: 1vw;
        font-size: 0.8vw;
        margin: 0.5vw 0;
        height: 8vw;
        padding: 0.8vw;
        border-radius: 0.3vw;
        border: 0.1vw solid #b3b3b3;
      }
      &--Submit {
        margin: 1.5vw 0 0 60%;
        width: 40%;
      }
    }
  }

  .contact-response {
    width: 51%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-2.7vw);
    color: $color-variacion6;
  }

  .contact-response-text {
    font-size: 1vw;
  }

  .loader {
    width: 3vw;
  }
}
