.Contact {
  padding: 2vw 0 10vw;
}

.Contact-ImageContainer {
  display: none;
}

.Contact-Container {
  width: 90%;

  margin: 0 auto;
  &__Title {
    font-size: 6vw;
    font-weight: 500;
    margin-top: 8vw;
    color: $color-variacion5;
  }
  &__Text {
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.9;
  }
  &__Link {
    width: 90%;
    text-decoration: none;
    margin: 4vw 0;
    border-radius: 5vw;
    height: 12vw;
    font-size: 4.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-weight: 500;
    font-family: $Fuente1;
    border: 0.8vw solid $color-variacion3;
    color: $color-variacion3;
    background-color: $color-claro;
  }
  &__Form {
    display: flex;
    flex-direction: column;

    &--Input {
      width: 100%;
      margin: 1.5vw 0;
      border-radius: 1.5vw;
      outline: none;
      font-size: 3.8vw;
      letter-spacing: 1px;
      padding: 1.8vw;
      border: 0.4vw solid #b3b3b3;
      color: $color-variacion5;
      &::placeholder {
        color: #b3b3b3;
        font-weight: 300;
      }
    }
    &--TextArea {
      width: 100%;
      margin: 1.5vw 0;
      border-radius: 1.5vw;
      outline: none;
      font-size: 3.8vw;
      letter-spacing: 1px;
      padding: 1.8vw;
      resize: none;
      height: 24vw;
      border: 0.4vw solid #b3b3b3;
      color: $color-variacion5;
      &::placeholder {
        color: #b3b3b3;
        font-weight: 300;
      }
    }
    &--Submit {
      width: 50%;
      margin: 2.5vw 0 0 auto;
      @include button;
    }
  }
}

.contact-response {
  width: 50%;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-12vw);
  color: $color-variacion6;
}

.contact-response-text {
  font-size: 4vw;
  text-align: center;
}

.loader {
  width: 10vw;
  margin: 0;
}

.Contact-PopUp {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  &__Container {
    width: auto;
    position: relative;
    &--Close {
      position: absolute;
      top: -10vw;
      right: 0;
      width: 10vw;
      height: 10vw;
      background-image: url(../../utils/images/navbar-x.png);
      background-size: 90%;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--Image {
      width: 90vw;
      border-radius: 4vw;
      height: 125vw;
      background-image: url(../../utils/images/popup-mobile.webp);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.PopUp-Active {
  display: flex;
}

// TABLET
@media screen and (min-width: 768px) {
  .Contact {
    padding: 2vw 0;
  }

  .Contact-Container {
    width: 75%;
    &__Title {
      font-size: 4vw;
      margin-top: 2vw;
    }
    &__Text {
      font-size: 3vw;
    }
    &__Link {
      margin: 3vw 0;
      border-radius: 10vw;
      height: 8vw;
      font-size: 3vw;
      box-shadow: none;
      will-change: color background-color;
      border: 0.25vw solid $color-variacion3;

      transition: $animation-transition;
    }
    &__Form {
      &--Input {
        font-size: 2vw;
        padding: 1.2vw;
        margin: 1vw 0;
      }
      &--TextArea {
        font-size: 2vw;
        padding: 1.2vw;
        margin: 1vw 0;

        height: 18vw;
      }
      &--Submit {
        width: 40%;
        margin: 2vw 0 0 auto;
        @include button;
      }
    }
  }

  .contact-response {
    width: 58%;
    height: 8vw;
    transform: translateY(-8vw);
  }

  .contact-response-text {
    font-size: 2vw;
  }

  .loader {
    width: 7vw;
  }
}

// DESKTOP
@media screen and (min-width: 1100px) {
  .Contact {
    width: 100%;
    padding: 8vw 0;
    display: flex;
    align-items: center;
  }

  .Contact-ImageContainer {
    display: flex;
    width: 50vw;
    height: 35vw;
    border-top-right-radius: 2.8vw;
    border-bottom-right-radius: 2.8vw;

    overflow: hidden;
    &:hover .Contact-ImageContainer--Image {
      transform: scale(1.05);
    }
    &--Image {
      width: 50vw;
      height: 35vw;
      transition: 0.3s;
      will-change: transform;
    }
  }

  .Contact-Container {
    width: 30%;
    margin: 2vw 0 0 10%;
    display: flex;
    flex-direction: column;
    &__Title {
      font-size: 2vw;
      margin: 0;
    }
    &__Text {
      width: 85%;
      font-size: 1.24vw;
      font-weight: 300;
      margin: 1vw 0 1.5vw;
    }
    &__Link {
      margin: 0 0 1vw;
      width: 65%;
      height: 2.8vw;
      border-radius: 5vw;
      padding: 0.5vw 0;
      font-size: 1vw;
      cursor: pointer;
      will-change: box-shadow color background-color;
      transition: $animation-transition;
      &:hover {
        color: $color-claro;
        background-color: $color-variacion3;
      }
    }
    &__Form {
      &--Input {
        font-size: 0.8vw;
        margin: 0.5vw 0;
        padding: 0.8vw;
        border-radius: 0.3vw;
        border: 0.1vw solid #b3b3b3;
      }
      &--TextArea {
        font-size: 1vw;
        font-size: 0.8vw;
        margin: 0.5vw 0;
        height: 8vw;
        padding: 0.8vw;
        border-radius: 0.3vw;
        border: 0.1vw solid #b3b3b3;
      }
      &--Submit {
        margin: 1.5vw 0 0 60%;
        width: 40%;
      }
    }
  }

  .contact-response {
    width: 51%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-2.7vw);
    color: $color-variacion6;
  }

  .contact-response-text {
    font-size: 1vw;
  }

  .loader {
    width: 3vw;
  }

  .Contact-PopUp {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    &__Container {
      &--Close {
        cursor: pointer;
        top: -1vw;
        right: -2vw;
        width: 2vw;
        height: 2vw;
      }
      &--Image {
        width: 50vw;
        border-radius: 0;
        height: 36vw;
        background-image: url(../../utils/images/popup-desk.webp);
      }
    }
  }

  .PopUp-Active {
    display: flex;
  }
}
